{% extends 'base_voice.html' %}

{% block title %}
Mocker
{% endblock %}

{% block body %}
<div class="container">
    <style>
     h3 {
        color: #89AC76;
     }
    </style>
    <h3>Изменить</h3>
    <form method="post">
        <input type="text" name="q" id="q" class="form-control" value="{{ get_mock_by_id_to_update.q }}" placeholder="Введите текстовый запрос"><br>
        <textarea name="response" id="response" style="height: 300px;" class="form-control" placeholder="Тело ответа, которое заберет скилсервер в формате json">{{ get_mock_by_id_to_update.response }}</textarea><br>
        <textarea name="description" id="description" style="width: 600px; height: 50px;" class="form-control" placeholder="Описание (обязательное поле)">{{ get_mock_by_id_to_update.description }}</textarea><br>
        <input type="submit" class="btn btn-success" value="Обновить">
    </form>
</div>
{% endblock %}